button.dark-light-toggle {
  padding: 30px;
  position: relative;
  span {
    font-size: 0;
    display: block;
    height: 24px;
    position: relative;
    transform: scale(1);
    width: 24px;
    border-radius: 50%;
    overflow: visible;
    transition: all 0.45s ease 0s;

    &:before {
      content: "";
      height: 24px;
      width: 24px;

      opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(8px, -8px);
      border-radius: 50%;
      transition: transform 0.45s ease 0s;
      background-color: #fff;
    }
    &:after {
      box-shadow: 0 -23px 0 #fff, 0 23px 0 #fff, 23px 0 0 #fff, -23px 0 0 #fff,
        15px 15px 0 #fff, -15px 15px 0 #fff, 15px -15px 0 #fff,
        -15px -15px 0 #fff;
      content: "";
      height: 8px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 8px;
      transform: scale(0);
      border-radius: 50%;
      margin: -4px 0px 0px -4px;
      transition: all 0.35s ease 0s;
    }

    &.dark {
      transform: scale(0.55);
      &:before {
        background-color: #1a202c;
        transform: translate(24px, -24px);
      }
      &:after {
        transform: scale(1);
      }
    }
  }
}
